# Dependencias
/node_modules

# Compilado
/dist

# Variables de entorno (NUNCA subir el .env real)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.idea
.vscode
*.swp
